
<div class="wrapper wrapper_padding clearfix">
	<div class="col-1 about homepage_content">
		<h2>About Me</h2>
		<hr>
		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
		<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. <a href="#" target="_blank">Github</a>.</p>
		<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form. <a href="#" target="_blank">Linkedin</a>.</p>
	</div>
	<div class="col-2 homepage_content">
		<h2>Recent Blog Posts</h2>
		<hr>
		<h3><%= link_to "Blog post 1", "#" %></h3>
			<p class="date">Date</p>
	</div>
	<div class="col-3 homepage_content">
		<h2>Some Projects</h2>
		<hr>
	<h3><%= link_to "Project 1", "#" %></h3>
			<p class="date">Date</p>
	</div>
</div>